body {
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

my-alert:not(:defined) {
  display: none;
}

my-alert {
  display: flex;
  padding: 30px 60px;
  font-family: "Roboto", sans-serif;
}

.info {
  background-color: #fff5af;
  border: 1px solid #f8af34;
  color: #000000;
}

.warn {
  background-color: #e94747;
  border: 1px solid #891111;
  color: #000000;
}

span {
  display: flex;
  margin: 20px 0px;
}
